body {
    text-align: center;
    /* justify-content: center;
    align-content: center; */
}
canvas {
    border-style: solid;
    border-width: 1px;
    color: blue;
    height: 500px;
    width: 800px;
}